<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>管理商家用户界面</title>
    <link rel="stylesheet" href="../lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../css/xadmin.css">
    <script src="../lib/layui/layui.js" charset="utf-8"></script>
    <script src="../js/jquery-3.4.1.min.js" charset="utf-8"></script>
    <style>
        #layui-btn-xs {
            height: 22px;
            line-height: 22px;
            padding: 0 5px;
            font-size: 12px;
        }
    </style>
</head>

<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <form class="layui-form layui-col-space5">
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="shopName" placeholder="请输入店铺名称" autocomplete="off"
                                   class="layui-input"></div>
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="username" placeholder="请输入用户名" autocomplete="off"
                                   class="layui-input"></div>
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="shopOwner" placeholder="请输入真实姓名" autocomplete="off"
                                   class="layui-input"></div>
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="idCard" placeholder="请输入身份证号" autocomplete="off"
                                   class="layui-input"></div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn" lay-submit lay-filter="search">
                                <i class="layui-icon"></i></button>
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn" onclick="location.reload()" >
                                <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></button>
                        </div>
                    </form>
                </div>
                <div class="layui-card-body">
                    <table class="layui-table" id="shopList" lay-filter="shopTable"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="barShopList">
    <a class="layui-btn layui-btn-xs" lay-event="resetPassword">重置密码</a>
    <!--审核商家按钮-->
    {{# if(d.state == 0 || d.state == 1){ }}
    <a class="layui-btn layui-btn-xs" lay-event="auditShopYes">通过审核</a>
    {{# } }}
    {{# if(d.state == 0){ }}
    <a class="layui-btn layui-btn-xs" lay-event="auditShopNo">审核失败</a>
    {{# } }}
    <!--管理店铺状态按钮-->
    {{# if(d.shopStatus == 1){ }}
    <a class="layui-btn layui-btn-xs" lay-event="closeShop">关闭店铺</a>
    {{# } }}
</script>
<script>
    var adminId = localStorage.getItem('adminId');
    layui.use(['table', 'form'], function () {
        var table = layui.table;
        var form = layui.form;
        table.render({
            elem: '#shopList'
            , url: '/farmhouse/shop/getShopList' //数据接口
            , page: true //开启分页
            , request: {
                pageName: 'pageNum' //页码的参数名称
                , limitName: 'size' //每页数据量的参数名
            }
            , response: {
                statusName: 'code' //规定数据状态的字段名称，默认：code
                , statusCode: 200 //规定成功的状态码，默认：0
                , msgName: 'message' //规定状态信息的字段名称，默认：msg
            }
            , parseData: function (res) { //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.records //解析数据列表
                };
            }
            , cols: [[ //表头
                {field: 'id', title: '店铺编号', sort: true, fixed: 'left', hide: true}
                , {field: 'shopName', title: '店铺名称'}
                , {field: 'username', title: '用户名'}
                , {field: 'shopOwner', title: '真实姓名'}
                , {field: 'idCard', title: '身份证号',width:150}
                , {field: 'address', title: '地址'}
                , {field: 'phone', title: '联系方式1',width:110}
                , {field: 'phone2', title: '联系方式2'}
                , {
                    field: 'state', title: '审核状态',width:120, sort: true, templet: function (d) {
                        if (d.state == 0)
                            return '待审核';
                        else if (d.state == 1)
                            return '审核未通过';
                        else
                            return '审核通过';
                    }
                }
                , {
                    field: 'shopStatus', title: '营业状态', sort: true, templet: function (d) {
                        if (d.shopStatus == 0)
                            return '打烊';
                        else
                            return '营业中';
                    }
                }
                , {field: 'notice', title: '店铺公告'}
                , {field: 'createTime', title: '创建时间', width: 150, sort: true}
                , {field: 'updateUserName', title: '审核人', hide: true}
                , {field: 'updateTime', title: '修改时间', width: 150, sort: true}
                , {fixed: 'right',title:'编辑', width: 320, align: 'center', toolbar: '#barShopList'}
            ]]
        });
        //监听提交
        form.on('submit(search)', function (data) {
            var params = {};
            if (data.field.shopName)
                params['shopName'] = data.field.shopName;
            if (data.field.username)
                params['username'] = data.field.username;
            if (data.field.shopOwner)
                params['shopOwner'] = data.field.shopOwner;
            if (data.field.idCard)
                params['idCard'] = data.field.idCard;
            table.reload('shopList', {
                url: '/farmhouse/shop/getShopList'
                , where: params //设定异步数据接口的额外参数
            });
            return false;
        });
        //监听工具条
        table.on('tool(shopTable)', function (obj) { //注：tool 是工具条事件名，commodityTable 是table 原始容器的属性 lay-filter="commodityTable"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）
            if (layEvent === 'resetPassword') { //重置密码
                layer.confirm('确认重置密码？', function (index) {
                    ajaxPost("/farmhouse/shop/resetPasswordByAdmin", {
                        shopId: data.id,
                        adminId: adminId
                    }, "POST", "resetPassword");
                });
            } else if (layEvent === 'auditShopYes') { //通过审核
                layer.confirm('确认通过审核？', function (index) {
                    ajaxPost("/farmhouse/shop/auditShopState", {
                        shopId: data.id,
                        adminId: adminId,
                        result: 2
                    }, "POST", "auditShopState");
                    //同步更新页面缓存对应的值
                    obj.update({
                        state: 2
                    });
                    location.reload();
                });
            } else if (layEvent === 'auditShopNo') { //审核失败
                layer.confirm('确认审核失败？', function (index) {
                    ajaxPost("/farmhouse/shop/auditShopState", {
                        shopId: data.id,
                        adminId: adminId,
                        result: 1
                    }, "POST", "auditShopState");
                    //同步更新页面缓存对应的值
                    obj.update({
                        state: 1
                    });
                    location.reload();
                });
            } else if (layEvent === 'closeShop') { //关闭店铺
                layer.confirm('确认关闭店铺？', function (index) {
                    ajaxPost("/farmhouse/shop/updateShopStatus", {
                        shopId: data.id,
                        status: 0
                    }, "POST", "updateShopStatus");
                    //同步更新页面缓存对应的值
                    obj.update({
                        shopStatus: 0
                    });
                    location.reload();
                });
            }
        });
    });

    /*封装ajax post请求*/
    function ajaxPost(url, params, httpMethod, method) {
        $.ajax({
            type: httpMethod,
            url: url,
            dataType: 'json',
            async: false,
            data: params,
            success: function (data) {
                if (data.code == 200) {
                    layer.msg(JSON.stringify(data.message), {time: 1200, icon: 1}, function () {

                    });
                } else {
                    layer.alert(JSON.stringify(data.message), {time: 1200, icon: 2});
                }
            },
            error: function (data) {
                layer.alert('数据请求失败,请稍后重试！', {time: 1200, icon: 2});
            }
        });
    }
</script>
</body>
</html>