/*
*@Name: 母婴商城
*@Author: xuzhiwen
*@Copyright:layui.com
*/


body{font-family: "Microsoft YaHei", "SimSun", '\5b8b\4f53', sans-serif;  -moz-user-select:none;
      -webkit-user-select: none;       
      -ms-user-select: none;     }
.w1200{width: 1200px; margin:0 auto;}
.nobor{border-bottom: 0!important;}
.margin0{margin: 0!important;}
.padding0{padding: 0!important;}
i{font-style: normal;}

/*site-nav*/
.site-nav-bg{height: 30px; line-height: 30px; background-color: #f5f5f5;}
.site-nav{position: relative;}
.sn-back-home{float: left;}
.sn-back-home i{margin:0 4px 0 8px; font-size: 14px;}
.sn-quick-menu{position: absolute; right: 12px;}
.sn-quick-menu div{float: left;}
.sn-quick-menu div.login{margin-right: 22px; }
.sn-quick-menu div.login a{color: #ff5500;}
.sn-quick-menu div.sp-cart span{margin-left:4px; color: #ff5500; font-weight: bold;}
/*end-site-nav*/



/*header*/
.header{height: 100px; line-height: 100px;}
.header .mallLogo{float: left;}
.header .mallSearch{float: right; width: 500px; padding-top: 30px; position: relative;}
.header .mallSearch form{height: 38px; line-height: 38px; border-width: 1px 0 1px 1px; border: solid #cfb2f6; position: relative;}
.header .mallSearch input{height: 38px; line-height: 38px; width: 436px; float: left; border:none; position: relative; z-index: 2; background: none;}
.header .mallSearch button{width: 58px; height: 38px; line-height: 38px; float: left; background: #cfb2f6; border-radius:0
;}
/*end-header*/

.content .layui-fluid{padding: 0;}
.content .inner-cont1{height: 36px; line-height: 36px;}
.content .inner-cont2{padding-left: 208px;}
.content .inner-cont2 a{display: inline-block; font-size: 14px; color:#010101; padding: 0 32px; line-height: 36px; float: left;}
.content .inner-cont2 a.active,.content .inner-cont2 a:hover{color: #cfb2f6;}
.content .category-con{position: relative; height: 400px; width: 100%;}
.content .category-con .category-type{width: 180px; height:36px; line-height: 36px; font-size: 14px; background: #cfb2f6; text-align: center; color: #fff; cursor: pointer; margin-top: -36px; position: absolute; z-index: 100;}
.content .category-con .category-type h3{font-size: 14px;}
.content .category-tab-content .nav-con{width: 180px; height: 0;}
.content .category-tab-content .nav-con .normal-nav{height: 400px; padding: 13px 0px 17px 5px; box-sizing: border-box; position: relative; background: #fff; border-bottom: 1px solid #e9e9e9; box-sizing: border-box;}
.content .category-tab-content .nav-con .nav-item{border-bottom: 1px solid #e7e7e7; padding-bottom: 4px; position: relative;}
.content .category-tab-content .nav-con .nav-item .title{font-size: 14px; color: #000; padding-left: 27px; line-height: 24px; font-weight: bold; cursor: pointer;}
.content .category-tab-content .nav-con .nav-item  p a{font-size: 12px; color: #7d7e7f; margin-left: 4px; line-height: 18px;}
.content .category-tab-content .nav-con .nav-item i{position: absolute; right: 2px; top: 16px; font-size: 12px; }
.content .category-tab-content .nav-con .nav-item  p a:hover{color:#ff5500;}
.content .category-banner{background:#ffc6dd;}
.content .floors .sk{height: 300px; padding:80px 0 70px 0; background: #fff;}
.content .floors .sk_hd{float: left; width: 225px; height: 300px;}
.content .floors .sk_bd{float: left; width: 974px; height: 298px; border:1px solid #eaeaea; border-left: 0;}
.content .floors  .sk_bd .item-box{background: #fff;}
.content .floors .sk_bd .item{float: left; margin:28px 0 0 35px;}
.content .floors .sk_bd .item img{width: 190px; height: 190px;}
.content .floors .sk_bd .item .title{font-size: 16px; line-height: 40px;}
.content .floors .sk_bd .item .price span{color: #ee0000; font-size: 24px} 
.content .floors .sk_bd .item .price del{color: #888; font-size: 16px; padding-left: 40px;}  
.content .floors .sk_bd .layui-carousel-arrow[lay-type=sub]{display: none;}
.content .hot-recommend-con{background: #f8f8f8; padding:80px 0 70px 0;}
.content .hot-recommend-con .hot-con1 .item{width: 390px; height: 500px; background: #fff; margin-right: 15px; float: left; padding: 20px; box-sizing: border-box;}
.content .hot-recommend-con .hot-con1 .item h4{font-size: 24px; color: #333333; padding-top:6px;}
.content .hot-recommend-con .hot-con1 .item .big-img{text-align: center; height: 160px; background: #f3f3f3; margin-top: 136px;}
.content .hot-recommend-con .hot-con1 .item .big-img img{position: relative; top: -80px;}
.content .hot-recommend-con .hot-con1 .item .small-img{text-align: center; margin-top: 30px;}
.content .hot-recommend-con .hot-con1 .item .small-img img{padding:0 6px;}
.content .hot-recommend-con .hot-con1 .item .top-img{margin-bottom: 12px;}
.content .hot-recommend-con .hot-con1 .item .bottom-img{position: relative;}
.content .hot-recommend-con .hot-con1 .item .bottom-img .baby-cream{position: absolute; right: 0;}
.content .hot-recommend-con .hot-con1 .item1{position: relative; background: none;}
.content .hot-recommend-con .hot-con1 .item1 .btm-img{position: absolute; bottom: 0; left: 0;}
.content .product-cont{padding:33px 0 60px 0;}
.content .product-cont .product-item{padding-top: 70px;}
.content .product-cont .product-item .left-title{float: left; height: 400px; width: 198px; text-align: center;}
.content .product-cont .product-item1 .left-title{background: #c7b6d7;}
.content .product-cont .product-item2 .left-title{background: #c0e2ef;}
.content .product-cont .product-item3 .left-title{background: #f6d77d;}
.content .product-cont .product-item1 h4{color: #9175ad;}
.content .product-cont .product-item2 h4{color: #72bad5;}
.content .product-cont .product-item3 h4{color: #dba64b;}
.content .product-cont .product-item .left-title h4{font-size: 72px; font-weight: bold;  padding:50px 0;}
.content .product-cont .product-item .left-title h5{font-size: 30px; color: #fff; margin-top: 36px;}
.content .product-cont .product-item .right-cont{float: left;}
.content .product-cont .product-item .right-cont .top-img img{border:1px solid #e1e1e1;}
.content .product-cont .product-item .right-cont .img-box a{ display: inline-block; border:1px solid #e1e1e1; float: left; margin:-1px -1px 0 0;}
.content .product-cont .product-item .right-cont .img-box a img{width: 199px; height: 197px;}
.content .product-list-box{background: #f8f8f8; text-align: center;}
.content .product-list-box .product-list-cont{padding-bottom: 92px;}
.content .product-list-box .product-list-cont h4{font-size: 30px; color: #333; padding:60px 0 30px 0;}
.content .product-list-box .product-list-cont .product-item-box .list-item{width: 230px; height: 300px; background: #fff; float: left; margin:0 12px 12px 0}
.content .product-list-box .product-list-cont .product-item-box .list-item img{padding:25px 0;}
.content .product-list-box .product-list-cont .product-item-box .list-item p{padding:0 26px; text-align: left; line-height: 20px; margin-bottom: 14px;}
.content .product-list-box .product-list-cont .product-item-box{width: 1210px;}
.content .product-list-box .product-list-cont .product-item-box .list-item span{color: #ee0000;}
.footer{background: #2f2f2f; padding-bottom: 54px;}
.footer .ng-promise-box{border-bottom:1px solid #3d3d3d; line-height: 145px;}
.footer .ng-promise-box .ng-promise{padding-left: 100px; box-sizing: border-box;}
.footer .ng-promise-box .ng-promise p a{ color: #fff; font-size: 20px; margin-right: 210px; padding-left: 44px; height: 40px; display: inline-block; line-height: 40px; background: url(../img/us-icon.png) no-repeat left 0;}
.footer .ng-promise-box .ng-promise p a.icon2{padding-left: 56px; background-position:0 -44px;}
.footer .ng-promise-box .ng-promise p a.icon3{background-position:0 -80px;}
.footer .mod_help{text-align: center; color: #888888;}
.footer .mod_help p{margin:38px 0 16px 0;}
.footer .mod_help p a{color: #888888;}
.footer .mod_help p span{padding:0 22px;}


.content-nav-base .main-nav{border-bottom:1px solid #cfb1f7;}
.content-nav-base .main-nav .inner-cont2{padding-left: 40px;}
.content-nav-base .main-nav .inner-cont2 a{padding:0; margin-right: 75px;}







/*commodity*/
.commodity-content .commod-cont-wrap{background: #f8f8f8; padding: 50px 0 90px 0;}
.commodity-content .commod-cont .left-nav{width: 200px; line-height: 38px; background: #fff; float: left; margin-right: 58px;}
.commodity-content .commod-cont .left-nav .list-box{border:1px solid #eeeeee;}
.commodity-content .commod-cont .left-nav .title{color: #fff; font-size: 16px; background: #333333; text-align: center;} 
.commodity-content .commod-cont .left-nav .list-box dt,.commodity-content .commod-cont .left-nav .list-box dd{border-bottom:1px dashed #eeeeee; cursor: pointer;}
.commodity-content .commod-cont .left-nav .list-box dd:hover a{color:#ff5500;}
.commodity-content .commod-cont .left-nav .list-box dt{font-size: 14px; color: #333; padding-left: 30px; background: url(../img/off-icon.png) 8px -2px no-repeat; cursor: pointer;}
.commodity-content .commod-cont .left-nav .list-box dt.active{background-position: 8px -40px;}
.commodity-content .commod-cont .left-nav .list-box dd a{padding-left: 42px; color: #888888;}
.commodity-content .commod-cont .left-nav .list-box dl:last-child dd:last-child{border-bottom: 0;}
.commodity-content .commod-cont .right-cont-wrap{float:  left; width: 100%;}
.commodity-content .commod-cont .right-cont{width: 100%;}
.commodity-content .commod-cont .right-cont .sort{margin-top: 5px;}
.commodity-content .commod-cont .right-cont .sort a{width: 58px; height: 26px; line-height: 26px; font-size: 14px; color: #333333; border:1px solid #eaeaea; margin-left: -1px; float: left; background: #fff; background:#fff url(../img/sort-arrow.png) no-repeat 41px 0; text-indent: 9px;}
.commodity-content .commod-cont .right-cont .sort a.active{background-position: 41px -26px;}
.commodity-content .commod-cont .right-cont .prod-number{line-height: 44px; font-size: 16px; padding-left: 7px;}
.commodity-content .commod-cont .right-cont .cont-list .item{float: left; width: 280px; height: 366px; border:1px solid #eaeaea; background: #fff; margin:0 47px 60px 0;}
/*.commodity-content .commod-cont .right-cont .cont-list .item .img{border-bottom: 1px solid #eaeaea}*/
.commodity-content .commod-cont .right-cont .cont-list .item .text{padding:14px 0 0 14px;}
.commodity-content .commod-cont .right-cont .cont-list .title{color: #333333; font-size: 16px; margin-bottom: 14px;}
.commodity-content .commod-cont .right-cont .cont-list .price{position: relative;}
.commodity-content .commod-cont .right-cont .cont-list .pri{color: #ee0000;}
.commodity-content .commod-cont .right-cont .cont-list .nub{position: absolute; right: 13px; color:#999999;}
/*end-commodity*/





/*details*/
.datails-content{padding-bottom: 80px;}
.datails-content .crumb{line-height: 76px;}
.datails-content .crumb span{font-family: simsun; color:#666; font-weight: bold; margin:0 5px;}
.datails-content .crumb a{color:#666;}
.datails-content .crumb a:hover{color:#ff5500;}
.datails-content .product-intro{margin-bottom: 85px;}
.datails-content .product-intro .preview-wrap{width: 430px; float: left;}
.datails-content .product-intro .preview-wrap img{border:1px solid #eaeaea;}
.datails-content .itemInfo-wrap{float: left; width: 770px;}
.datails-content .itemInfo .title{position: relative; margin-bottom: 30px;}
.datails-content .itemInfo .title h4{font-size: 18px;}
.datails-content .itemInfo .title span{position: absolute; right: 0; top: 2px; cursor: pointer;}
.datails-content .itemInfo .title span i{margin-right: 4px; color: #ff5500;}
.datails-content .itemInfo .summary{width: 100%; height: 135px; background: #f5f5f5; padding-top: 25px; margin-bottom: 26px;}
.datails-content .itemInfo .summary p{line-height: 40px; padding-left: 34px; color: #888888;}
.datails-content .itemInfo .summary p span{padding-right: 40px;}
.datails-content .itemInfo .summary .activity .price{font-size: 30px; color: #ee0000;}
.datails-content .itemInfo .summary .activity .price i{font-size: 14px;}
.datails-content .itemInfo .choose-attrs{color: #888888; line-height: 32px; padding-left: 34px;}
.datails-content .itemInfo .choose-attrs .title{margin-right: 34px; float: left;  margin-bottom: 0;}
.datails-content .itemInfo .choose-attrs .color{margin-bottom: 18px;}
.datails-content .itemInfo .choose-attrs .color .color-cont{display: inline-block; float: left;}
.datails-content .itemInfo .choose-attrs .color .color-cont .btn{display: inline-block; padding:0 26px; margin-right: 26px; border:1px solid #e0e0e0; cursor: pointer; color: #000;}
.datails-content .itemInfo .choose-attrs .color .color-cont .btn.active{border-color:#ff5500;}
.datails-content .itemInfo .choose-attrs .number{line-height: 30px;}
.datails-content .itemInfo .choose-attrs .number .title{float: left;}
.datails-content .itemInfo .choose-attrs .number .number-cont{display: inline-block; float: left; line-height: 30px; }
.datails-content .itemInfo .choose-attrs .number .number-cont .btn{display: inline-block; padding:0 6px; border:1px solid #dddddd; background: #f8f8f8; width: 20px; text-align: center; font-size: 26px; cursor: pointer; float: left;-webkit-user-select: none;
-moz-user-focus: none;
-moz-user-select: none;}
.datails-content .itemInfo .choose-attrs .number .number-cont .cut{}
.datails-content .itemInfo .choose-attrs .number .number-cont input{width: 35px; height: 28px; text-align: center; margin:0 5px; float: left;}
.datails-content .itemInfo .choose-btns{padding-left: 34px; margin-top: 22px;}
.datails-content .itemInfo .choose-btns .purchase-btn{border:1px solid #ff5500; color: #ff5500;width: 116px; height: 40px; line-height: 40px;}
.datails-content .itemInfo .choose-btns .car-btn{width: 136px; height: 40px; line-height: 40px;}

.datails-content .aside{float: left;}
.datails-content .aside h4{font-size: 18px; line-height: 42px; padding-left: 18px; color: #888888;}
.datails-content .aside .item-list{border:1px solid #ededed; padding:45px; padding-bottom: 0;}
.datails-content .aside .item-list .item{margin-bottom: 34px;}
.datails-content .aside .item-list .item p{line-height: 64px; position: relative;}
.datails-content .aside .item-list .item .pric{color: #ee0000; position: absolute; right: 0;}
.datails-content .detail{float: right;}
.datails-content .detail h4{line-height: 42px; width: 100px; text-align: center; border-bottom: 2px solid #888888; font-size: 18px; cursor: pointer; color: #888888;}
.datails-content .detail .item{border:1px solid #ececec;}
/*end-details*/








/*information*/
.information-content .info-list-box{padding:63px 0 84px 0; background: #f8f8f8;}
.information-content .info-list .item-box{width: 1250px;}
.information-content .info-list .item-box .item{width: 590px; float: left; margin:0 22px 27px 0; background: #fff; height: 360px; padding:40px 30px; box-sizing: border-box;}
.information-content .info-list .item-box .img{float: left; margin-right: 28px;}
.information-content .info-list .item-box .text h4{font-size: 18px; line-height: 28px; margin-top: 28px; margin-bottom: 15px;}
.information-content .info-list .item-box .text .data{font-size: 12px; color: #888888; margin-bottom: 30px;}
.information-content .info-list .item-box .text .info-cont{line-height: 24px; color: #555555; overflow : hidden; text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
 }
/*end-information*/



/*buytoday*/
.buytoday-content .banner{height: 380px; background: url(../img/tuan_img_banner.jpg) no-repeat; background-size: cover; cursor: pointer;}
.buytoday-content .product-list-box{background: #f8f8f8; padding-bottom: 50px;}
.buytoday-content .product-list .tab-title{padding:60px 0 66px 0;}
.buytoday-content .product-list .tab-title a{line-height: 56px; color: #666666; font-size: 20px; display: inline-block;}
.buytoday-content .product-list .tab-title a.tuang{margin-right: 70px;}
.buytoday-content .product-list .tab-title a.active{color: #693ca4; border-bottom: 2px solid #cfb2f6;}
.buytoday-content .list-cont .item{width: 290px; height: 420px; float: left; margin:0 12px 20px 0; text-align: left; background: #fff;}
.buytoday-content .list-cont .item-box{width: 1220px; padding-bottom: 30px;}
.buytoday-content .list-cont .item .text-box{ padding:12px; box-sizing: border-box;}
.buytoday-content .list-cont .item .text-box .title{line-height: 24px; font-size: 16px; color: #666666; margin-bottom: 6px;}
.buytoday-content .list-cont .item .text-box .plic{position: relative;}
.buytoday-content .list-cont .item .text-box .plic .ciur-pic{font-size: 20px; margin-right: 24px}
.buytoday-content .list-cont .item .text-box .plic .Ori-pic{color: #666666;}
.buytoday-content .list-cont .item .text-box .plic .discount{width: 60px; height: 26px; line-height: 26px; font-size: 16px; background: #cfb2f6; display: block; text-align: center; color: #fff; position: absolute; right: 0; top: 0; cursor: pointer;}
.buytoday-content .footer{padding-bottom: 120px;}
.buytoday-content .footer-wrap,.buytoday-content .footer{background: #877dd2;}
.buytoday-content .footer-wrap,.buytoday-content .footer .title{font-size: 30px; color: #fffaea; text-align: center;}
.buytoday-content .footer .title h3{padding:60px 0; }
.buytoday-content .footer .list-box .item{float: left; text-align: left; width: 320px; height: 500px; background: #fff; margin-right: 120px;}
.buytoday-content .footer .list-box .item .text{height: 100px; background: #f9f9f9;}
.buytoday-content .footer .list-box .item .text .right-title-number{float: left; width: 80px; line-height: 100px; font-size: 36px; color: #ffa25d; font-weight: bold; text-align: center; background: #f4f5fa; font-style:italic}
.buytoday-content .footer .list-box .item .commod{padding:10px; width: 240px; float: left; box-sizing: border-box;}
.buytoday-content .footer .list-box .item .commod p{font-size: 16px; color: #666666; line-height: 24px;}
.buytoday-content .footer .list-box .item .commod span{font-size: 20px; color: #ee0000;}
#footerList .item:last-child{margin-right: 0;}
/*end-buytoday*/









/*about*/
.about-content .banner-box .banner{height: 750px; width: 100%; background: url(../img/us_banner.jpg) no-repeat; background-size: cover;}
.about-content .brief-content{padding:198px 0 280px 0;}
.about-content .brief-content .img-box{float: left; width: 630px; height: 640px; position: relative; padding-right: 100px;}
.about-content .brief-content .img-box .top{position: absolute; right: 100px; bottom: 0;}
.about-content .brief-content .text{line-height: 45px; font-size: 20px; color: #888; padding-top: 130px;}
.about-content .banner-text{height: 760px; width: 100%; background: url(../img/us_img3.png) no-repeat; background-size: cover;}
.about-content .banner-text p{width: 446px; font-size: 20px; line-height: 45px; color: #888888; padding: 210px 0 0 55px;}
.about-content .after-sale{padding-bottom: 204px;}
.about-content .after-sale h4{font-size: 46px; color: #555; letter-spacing:8px; padding:190px 0 100px 0; text-align: center;}
.about-content .after-sale .item-box{ position: relative;}
.about-content .after-sale .item .img-box{width: 204px; height: 204px; border:2px solid #af9ce5; border-radius: 50%; margin:0 auto; line-height: 204px; text-align: center;}
.about-content .after-sale .item p{font-size: 28px; color: #af9ce5; padding-top: 44px; text-align: center;}
.about-content .after-sale .item.item1{position: absolute; left: 0;}
.about-content .after-sale .item.item2{margin:0 auto;}
.about-content .after-sale .item.item3{position: absolute; right: 0; top: 0;}
/*end-about*/





/*login*/
.login-content .login-bg{width: 100%; background: url(../img/load_bg.jpg) no-repeat; background-size: cover;}
.login-content .login-bg .login-cont{ height: 772px; position: relative;}
.login-content .login-bg .login-cont .form-box{width: 300px; height: 390px; border:1px solid #d9dadc; background: #fff; position: absolute; top: 196px; right: 90px; padding:0 30px;}
.login-content .login-bg .login-cont .form-box legend{font-size: 20px; color: #323232; text-align: center; padding:50px 0;}
.login-content .login-bg .login-cont .layui-inline,.login-content .login-bg .login-cont .layui-input-inline{width: 100%; position: relative;}
.login-content .login-bg .login-cont .layui-input-inline .iphone-icon{position: absolute; top: 8px; left: 10px; color: #d3d3d3; font-size: 20px;}
.login-content .login-bg .login-cont .iphone{margin-bottom: 20px;}
.login-content .login-bg .login-cont .iphone .layui-input{padding-left: 40px;}
.login-content .login-bg .login-cont .veri-code .layui-btn{width: 102px; background: #eeeeee; text-align: center; color: #333; height: 36px; line-height: 36px; display: inline-block; border:none; cursor: pointer; position: absolute; top: 1px; right: 1px; font-size: 12px; padding:0 14px;}
.login-content .login-bg .login-cont .login-btn .layui-input-block{margin-left: 0; padding-top: 25px;}
.login-content .login-bg .login-cont .login-btn .layui-input-block button{width: 100%; background: #cfb2f6; font-size: 18px;}
/*end-login*/







/*shopcart-content*/
.shopcart-content .banner-bg{height: 180px; background: url(../img/主页logo.png) no-repeat; margin:50px auto; padding-left: 68px; box-sizing: border-box; color: #fff}
.shopcart-content .banner-bg h3{font-size: 36px; padding:40px 0 20px 0;}
.shopcart-content .banner-bg p{font-size: 20px; }
.shopcart-content .cart{padding-bottom: 180px;}
.shopcart-content .cart-table-th{height: 50px; line-height: 50px; background:  #f5f5f5;}
.shopcart-content  .th{float: left; text-align: center;}
.shopcart-content  .th-chk{width: 70px; position: relative; margin-left: 43px; text-align: left;}
.shopcart-content  .th-chk .select-all{cursor: pointer;}
.shopcart-content  .th-chk .select-all label{cursor: pointer;}
.shopcart-content .cart-checkbox{display: inline-block;}
.shopcart-content  .CheckBoxShop{width: 16px; height: 16px; border:1px solid #cccccc; position: relative; top: 4px;}
.shopcart-content .th-item{width: 340px; text-align: left; padding-left: 90px; box-sizing: border-box;}

.shopcart-content .th-price{width: 200px; }
.shopcart-content .th-amount{width: 200px; }
.shopcart-content .th-sum{width: 200px;}
.shopcart-content .th-op{width: 100px;}
.shopcart-content .item-content{border:1px solid #ececee; border-bottom: 0; height: 218px; padding:59px 0; box-sizing: border-box; position: relative;}
.shopcart-content .order-content .th-chk{margin-top: 35px; position: relative; z-index: 2;}
.shopcart-content .order-content .th-item{position: relative; left: -120px; z-index: 1;}
.shopcart-content .order-content .th-amount div.layui-btn,.shopcart-content .order-content .th-amount input{float: left; border:1px solid #e2e2e2; text-align: center; background: #ffffff; margin-left: -1px; color: #999999;}
.shopcart-content .order-content .th-amount div.layui-btn{width: 28px; height: 38px; padding:0;}
.shopcart-content .order-content .th-amount input{width: 46px; height: 36px;}
.shopcart-content .order-content .th-amount .box-btn{padding-left: 52px;}
.shopcart-content .order-content .th-sum span{line-height: 24px; color: #ee0000; font-weight: bold; }
.shopcart-content .order-content .th-op span{display: block; cursor: pointer; line-height: 24px;}
.shopcart-content .order-content .th-item .item-cont img{float: left; width: 98px; height: 98px;  border:1px solid #ececee; margin-right: 20px;}
.shopcart-content .order-content .th-item .item-cont .text{text-align: left; line-height: 24px;}
.shopcart-content .order-content .th-item .item-cont .text .title{color: #333333;}
.shopcart-content .order-content .th-item .item-cont .text p{color: #888;}
.shopcart-content .FloatBarHolder{line-height: 78px; border:1px solid #ececee; background: #f5f5f5; position: relative;}
.shopcart-content .FloatBarHolder .th-chk {width: 150px;}
.shopcart-content .FloatBarHolder .batch-deletion span{cursor: pointer;}
.shopcart-content .FloatBarHolder .Settlement,.shopcart-content .FloatBarHolder .total{float: right;}
.shopcart-content .FloatBarHolder .Settlement button.layui-btn{width: 160px; height: 84px; line-height: 84px; font-size: 24px; color: #fff; text-align: center; background: #ff5500; border-radius: 0; position: absolute; right: 0px; top: -1px;}
.shopcart-content .FloatBarHolder .total{margin-right: 230px;}
.shopcart-content .FloatBarHolder .total span{color: #ee0000; font-size: 26px; font-weight: bold; padding-left: 5px;}
.shopcart-content .FloatBarHolder .th-chk .select-all label{letter-spacing: 4px;}
/*end-shopcart-content*/

.item{width: 100% !important; height: 400px !important;}
.commodity-item{float: left; width: 280px; height: 366px; border:1px solid #eaeaea; background: #fff; margin:0 47px 60px 0;}
.commodity-item .text{padding:14px 0 0 14px;}